logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
activator
test
public
OctVersion.zip
project
conf/logback.xml
.DS_Store
LICENSE
activator.bat
activator-launch-1.3.5.jar
README
set-local-vars.sh
