logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
activator
public
OctVersion.zip
project
conf/logback.xml
.DS_Store
LICENSE
activator.bat
activator-launch-1.3.5.jar
README
set-local-vars.sh
PhotoSesh.iml
scala-play-2
activator-launch-1.3.6
activator-launch-1.3.6.jar
set-test-vars.sh
derby.log
app/views/template.scala.html
